# Frontend
PORT_FRONTEND=<frontend_port>
NEXT_PUBLIC_API_URL=http://localhost:<backend_port>/api
NEXT_PUBLIC_SUPABASE_URL=<your_public_supabase_url>

# Backend
PORT_BACKEND=<backend_port>

# JWT
JWT_SECRET=<your_jwt_secret>
JWT_EXPIRES_IN=7d