@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), 'Inter', sans-serif;

  /* Custom colors */
  --color-primary: #c18845;
  --color-secondary: #212e53;
  --color-secondary-hover: #2B3C6D;
  --color-secondary-active: #18233F;

  --color-custom-light: #d9d9d9;
  --color-custom-medium: #8c8c8c;
  --color-custom-heavy: #404040;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), 'Inter', sans-serif;
}

/* Hide number input arrows */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
